openapi: 3.2.0
info:
  title: Trendyol İhracat Merkezi (AutoFT) Entegrasyonu Ürün Entegrasyonu API
  description: "Trendyol Pazaryeri'nde bulunan ürünlerinizi İhracat Merkezi Entegrasyonu ile Trendyol'un yurtdışı platformlarında \nve/veya Trendyol'un anlaşmalı olduğu yurtdışı platformlarında (Global Platform) satış görmesi için Trendyol'a \nsatışını gerçekleştirebilirsiniz.\n\n## İhracat Modeli Özellikleri\n* Ürünleriniz Trendyol tarafından Türkiye sınırları içerisinde satın alınmaktadır.\n* Uygunluk çerçevesinde ürünlerinizi taşıma operasyonu Trendyol tarafından yapılmakta; ürünler deponuzdan teslim alınmaktadır.\n* Ürünlerinizi toplu ve günlük olarak paketlediğiniz beklendiği için işçilik maliyetinizin düşük olacağı tahmin edilmektedir.\n* Ürünün nihai müşterisi ürünü teslim aldıktan sonra iade ettiğinde şu an için sizlere iade yansıtılmamaktadır.\n* Satışlarınız üzerinden komisyon faturası kesilmemektedir.\n\n## Zorunlu HTTP Header Alanları\nBütün isteklerde aşağıdaki header'ların gönderilmesi zorunludur:\n* **x-clientip**: İsteğin gönderildiği IPv4 adresi\n* **x-correlationid**: UUID formatında log takip kodu\n* **x-agentname**: İsteği yapan client/entegratör adı\n* **Authorization**: Basic Token (API KEY ve API SECRET ile oluşturulur)\n"
  version: 1.0.0
  contact:
    name: Trendyol Entegrasyon Destek
    email: entegrasyon@trendyol.com
  x-source-url: https://dash.readme.com/api/v1/api-registry/139o20t8ml4xuemz
  x-documentation-url: https://developers.trendyol.com/docs/getting-started
  x-last-validated: '2026-08-10'
  x-provenance: first-party — retrieved from the provider's own documentation host
servers:
- url: https://stageapigw.trendyol.com/integration/ecgw
  description: Test Ortamı (Stage)
- url: https://apigw.trendyol.com/integration/ecgw
  description: Canlı Ortam (Production)
security:
- basicAuth: []
tags:
- name: Ürün Entegrasyonu
  description: Ürün oluşturma ve listeleme işlemleri
paths:
  /v2/{sellerId}/products:
    post:
      tags:
      - Ürün Entegrasyonu
      summary: Ürün Oluşturma V2
      description: "Trendyol Pazaryeri'nde onaylanmış ürünleri ihracata açmak için kullanılır. \nSatıcı Paneli'nde oluşturulmayan ürünler, İhracat Merkezi'nde oluşturulamaz.\n\n> Barkod bazında günde **1** kez fiyat güncelleme işlemi yapılmaktadır.\n"
      operationId: autoft-create-products-v2
      parameters:
      - $ref: '#/components/parameters/sellerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - products
              properties:
                products:
                  type: array
                  maxItems: 5000
                  description: Ürünlerin listesini içeren ana dizi. Maksimum 5000 ürün girişi olabilir
                  items:
                    type: object
                    required:
                    - barcode
                    - buyingPrice
                    - origin
                    - stock
                    - categoryId
                    - attributes
                    properties:
                      barcode:
                        type: string
                        description: Ürünün benzersiz tanımlayıcısı olan barkod numarası
                      buyingPrice:
                        type: number
                        format: double
                        description: Ürünün Trendyol tarafından KDV dahil satın alındığı fiyat
                      rrp:
                        type: number
                        format: double
                        description: Ürünün tavsiye edilen perakende satış fiyatı. buyingPrice değerinden büyük veya eşit olmalıdır
                      gtip:
                        type: string
                        minLength: 4
                        maxLength: 12
                        description: Ürünün GTIP numarası. Minimum 4, maksimum 12 hane olabilir
                      origin:
                        type: string
                        description: Ürünün üretildiği ülke
                      stock:
                        type: integer
                        description: Ürünün mevcut stok miktarı
                      categoryId:
                        type: integer
                        description: Ürünün Pazaryerindeki kategori bilgisi
                      attributes:
                        type: array
                        description: Zorunlu ürün özellikleri
                        items:
                          type: object
                          properties:
                            attributeId:
                              type: integer
                              description: Özellik ID
                            attributeValueId:
                              type: integer
                              description: Özellik değeri ID (allowCustom=false ve multipleValues=false durumunda)
                            customAttributeValue:
                              type: string
                              description: Özel özellik değeri (allowCustom=true ve multipleValues=false durumunda)
                            customAttributeValues:
                              type: object
                              description: Çoklu özel değerler (allowCustom=true ve multipleValues=true durumunda, örn. Materyal Bileşeni)
                              additionalProperties:
                                type: string
            example:
              products:
              - barcode: barcode-0
                buyingPrice: 6.95
                rrp: 30.99
                gtip: gtip-0123
                stock: 100
                origin: Türkiye
                categoryId: 123
                attributes:
                - attributeId: 100
                  attributeValueId: 1
                - attributeId: 101
                  customAttributeValue: Custom-Value
                - attributeId: 102
                  customAttributeValues:
                    '1': '95'
                    '2': '5'
      responses:
        '200':
          description: İşlem başarılı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchIdResponse'
              example:
                batchId: example-batch-id-0
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags:
      - Ürün Entegrasyonu
      summary: Ürün Listeleme
      description: 'Trendyol''da ihracata açılmış ürünleri listelemek için kullanılır.


        > **Not:** Döviz türü (currency) bilgisi ihracat merkezine başvuru sırasında satıcı tarafından seçilmektedir.

        '
      operationId: autoft-list-products
      parameters:
      - $ref: '#/components/parameters/sellerId'
      - name: barcodes
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Ürün barkodları. Birden çok değer alabilir
      - name: pageKey
        in: query
        required: false
        schema:
          type: string
        description: "İlk istekte boş gönderilir. Sonraki isteklerde önceki response header'daki \nx-paging-key değeri kullanılır\n"
      - name: size
        in: query
        required: false
        schema:
          type: integer
          default: 20
          maximum: 100
        description: Listelenmek istenen ürün sayısı. Maksimum 100
      responses:
        '200':
          description: Success
          headers:
            x-paging-key:
              schema:
                type: string
              description: Sonraki sayfa için kullanılacak sayfalama anahtarı
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'
              example:
              - barcode: '8681261723738'
                sellerBarcode: example-seller-barcode
                rrpPrice: 27.25
                buyingPrice: 5.12
                stock: 8
                origin: TR
                composition: '%5 Elastan, %95 Pamuk'
                description: Dantelli V yaka Dikişli kısa kol
                currency: EUR
                gtip: '610831000000'
                categoryId: 1000
                careInstructions: T44
                attributes:
                - attributeId: 200
                  attributeName: Renk
                  valueId: null
                  valueName: Yeşil
                - attributeId: 300
                  attributeName: Cinsiyet
                  valueId: 101
                  valueName: Erkek
                - attributeId: 400
                  attributeName: Materyal Bileşeni
                  valueId: null
                  valueName: '%5 Elastan, %95 Pamuk'
              - barcode: '8681261710478'
                sellerBarcode: example-seller-barcode-2
                rrpPrice: 19
                buyingPrice: 4.21
                stock: 15
                origin: TR
                composition: '%100 Pamuk'
                description: İnce yaka işlemeli kısa kollu gömlek
                currency: EUR
                gtip: '621210900000'
                categoryId: 1001
                careInstructions: T104
                attributes:
                - attributeId: 200
                  attributeName: Renk
                  valueId: null
                  valueName: Mavi
                - attributeId: 300
                  attributeName: Cinsiyet
                  valueId: 101
                  valueName: Erkek
                - attributeId: 400
                  attributeName: Materyal Bileşeni
                  valueId: null
                  valueName: '%100 Pamuk'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          description: HTTP cevap kodu (400, 401, 500 vb.)
        type:
          type: string
          description: Ana hata tipi
        traceId:
          type: string
          description: Hatanın takibi için kod
        error:
          type: object
          properties:
            code:
              type: integer
              description: 'Hatanın özel kod numarası:

                - 1001: İstek ulaşırken bir hata oluştu

                - 1002: Zorunlu alanları doldurunuz

                - 1003: Talebiniz gerçekleştirilemedi

                - 1004: Uygun olmayan parametre girildi

                - 1005: Sistemsel bir sorun meydana geldi

                - 1006: Yetkisiz erişim talebi

                - 2006: Barkod için listing bulunamadı

                - 2007: Ürün sistemde kayıtlı değil

                - 3001: Ürün sistemde kayıtlı değil

                - 3002: Ürün henüz onaylanmamış

                - 3003: Bazı alanlar eksik ya da hatalı

                - 3004: Geçersiz composition bilgisi

                - 3005: Teslimat tipi uygun değil

                - 3007: Barkod ile TY barkodu uyuşmazlığı

                - 3009: Ürün satışa uygun değildir

                '
            title:
              type: string
              description: Hatanın ana başlığı
            detail:
              type: string
              description: Hatanın açıklaması
    BatchIdResponse:
      type: object
      properties:
        batchId:
          type: string
          description: İşlem batch ID. Bu ID ile işlem sonucunu sorgulayabilirsiniz
    Product:
      type: object
      properties:
        barcode:
          type: string
          description: Gönderim sağlanacak barkod, Trendyol sistemlerindeki barkod
        sellerBarcode:
          type: string
          description: Satıcı sistemlerindeki barkod
        rrpPrice:
          type: number
          format: double
          description: Tavsiye edilen perakende fiyatı
        buyingPrice:
          type: number
          format: double
          description: Trendyol'a satış fiyatı
        stock:
          type: integer
          description: Stok miktarı
        origin:
          type: string
          description: Menşei ülke kodu
        composition:
          type: string
          description: Materyal bileşeni (örn. %5 Elastan, %95 Pamuk)
        description:
          type: string
          description: Ürün açıklaması
        currency:
          type: string
          description: Para birimi (EUR, USD vb.)
        gtip:
          type: string
          description: GTIP numarası
        categoryId:
          type: integer
          description: Kategori ID
        careInstructions:
          type: string
          description: Yıkama talimatı kodu
        attributes:
          type: array
          description: Zorunlu ürün özellikleri
          items:
            type: object
            properties:
              attributeId:
                type: integer
              attributeName:
                type: string
              valueId:
                type:
                - integer
                - 'null'
              valueName:
                type: string
  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            status: 400
            type: ValidationError
            traceId: abc123-def456-ghi789
            error:
              code: 1002
              title: Zorunlu Alan Hatası
              detail: Zorunlu alanları doldurunuz
    Unauthorized:
      description: Unauthorized - Kimlik doğrulama bilgileri eksik veya yanlış
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            status: 401
            type: AuthenticationError
            traceId: abc123-def456-ghi789
            error:
              code: 1006
              title: Yetkisiz Erişim
              detail: Yetkisiz erişim talebi
  parameters:
    sellerId:
      name: sellerId
      in: path
      required: true
      schema:
        type: integer
        format: int64
      description: Satıcı ID
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Basic Auth ile Satıcı API Key ve API Secret
