openapi: 3.2.0
info:
  title: Trendyol Marketplace Integration - Common Label Barcode Integration Common Label Barcode Get Integration API
  description: Trendyol Common Label Barcode Integration API
  version: 1.0.0
  contact:
    name: Trendyol Integration Support
    email: entegrasyon@trendyol.com
  x-source-url: https://dash.readme.com/api/v1/api-registry/6lzz9sumlqmqk14
  x-documentation-url: https://developers.trendyol.com/docs/getting-started
  x-last-validated: '2026-08-10'
  x-provenance: first-party — retrieved from the provider's own documentation host
servers:
- url: https://apigw.trendyol.com/integration
  description: Production Environment (PROD)
- url: https://stageapigw.trendyol.com/integration
  description: Staging Environment (STAGE)
security:
- basicAuth: []
tags:
- name: Common Label Barcode Get Integration
paths:
  /sellers/{sellerId}/common-label/{cargoTrackingNumber}:
    get:
      tags:
      - Common Label Barcode Get Integration
      summary: Get Common Label Barcode - getCommonLabel
      description: 'The common barcode process can be used for Trendyol pays shipments with TEX and Aras Cargo.

        With this service, you can retrieve the barcode requested from the createCommonLabel service.


        **Important Notes:**

        - Multiple labels will be returned for multiple boxes. A single ZPL will be returned for a single box.

        '
      operationId: getCommonLabel
      parameters:
      - name: sellerId
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: Seller ID
      - name: cargoTrackingNumber
        in: path
        required: true
        schema:
          type: string
        description: Cargo tracking number
      responses:
        '200':
          description: Success - Barcode labels retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonLabelResponse'
              example:
                data:
                - label: ^XA.......^XZ
                  format: ZPL
        '400':
          description: Bad Request - Please check the cargo tracking number you provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  status: 400
                  errors:
                  - code: 1001
                    type: BadRequestException
                    title: Please check the cargo tracking number you provided
        '401':
          description: Unauthorized - Please check your API credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  status: 401
                  errors:
                  - code: 1002
                    type: UnauthorizedException
                    title: Please check your API credentials
components:
  schemas:
    CommonLabelResponse:
      type: object
      properties:
        data:
          type: array
          description: Array of barcode labels
          items:
            type: object
            properties:
              label:
                type: string
                description: Barcode label in ZPL format
                example: ^XA.......^XZ
              format:
                type: string
                description: Barcode format
                enum:
                - ZPL
                example: ZPL
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code
              example: 404
            errors:
              type: array
              items:
                type: object
                properties:
                  code:
                    type: integer
                    description: Error code
                    example: 1001
                  type:
                    type: string
                    description: Error type
                    example: NotFoundException
                  title:
                    type: string
                    description: Error description
                    example: Shipment not found for the cargo tracking number
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Basic Auth with Seller API Key and API Secret
