openapi: 3.2.0
info:
  title: Trendyol International Marketplace - Product Integration Products API
  description: 'Trendyol International Marketplace product integration API services for non-TR sellers. Covers product creation (V2), filtering, updating, deletion, archiving, stock-price updating, buybox, unlock, and batch request tracking services.

    '
  version: 2.0.0
  contact:
    name: Trendyol Integration Support
    email: entegrasyon@trendyol.com
  x-source-url: https://dash.readme.com/api/v1/api-registry/yzfuk0mqjeocod
  x-documentation-url: https://developers.trendyol.com/docs/getting-started
  x-last-validated: '2026-08-10'
  x-provenance: first-party — retrieved from the provider's own documentation host
servers:
- url: https://apigw.trendyol.com/integration
  description: Production
- url: https://stageapigw.trendyol.com/integration
  description: Stage
security:
- basicAuth: []
tags:
- name: Products
  description: Product creation, filtering, deletion, archiving, buybox, and unlock services
paths:
  /product/sellers/{sellerId}/v2/products:
    post:
      tags:
      - Products
      summary: Product Creation V2 (createProducts)
      description: 'Uploads products to the Trendyol system. In the attribute structure, attributeValueIds (array) or attributeValue (string) is used. The maximum number of items per request is 1,000. listPrice cannot be less than salePrice. The operation is asynchronous; the result should be checked using the returned batchRequestId.

        '
      operationId: createProducts
      parameters:
      - $ref: '#/components/parameters/sellerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductsRequest'
      responses:
        '200':
          description: Request has been queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchRequestResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /product/sellers/{sellerId}/product/{barcode}:
    get:
      tags:
      - Products
      summary: Product Filtering - Basic Information (getProductBase)
      description: Returns the basic status information of your product in your Trendyol store.
      operationId: getProductBase
      parameters:
      - $ref: '#/components/parameters/sellerId'
      - name: barcode
        in: path
        required: true
        description: Product barcode
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductBaseResponse'
              example:
                barcode: smoketest-250049
                approved: true
                approvedDate: 1763622556000
                archived: false
                listingId: a089a30ed1632032913b28099e49d948
                contentId: 9511264
        '401':
          $ref: '#/components/responses/Unauthorized'
  /product/sellers/{sellerId}/products/unapproved:
    get:
      tags:
      - Products
      summary: Product Filtering - Unapproved Products (filterUnapprovedProducts)
      description: 'Lists unapproved (draft) products in your Trendyol store. Includes products pending approval and rejected products. nextPageToken is used when there are more than 10,000 unapproved barcodes. page x size can be at most 10,000.

        '
      operationId: filterUnapprovedProducts
      parameters:
      - $ref: '#/components/parameters/sellerId'
      - name: barcode
        in: query
        description: Single barcode query
        schema:
          type: string
      - name: startDate
        in: query
        description: Start date (timestamp)
        schema:
          type: integer
          format: int64
      - name: endDate
        in: query
        description: End date (timestamp)
        schema:
          type: integer
          format: int64
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
      - name: dateQueryType
        in: query
        description: Date filter type
        schema:
          type: string
          enum:
          - CREATED_DATE
          - LAST_MODIFIED_DATE
      - name: size
        in: query
        description: Items per page (max 1000)
        schema:
          type: integer
          maximum: 1000
      - name: supplierId
        in: query
        description: Supplier ID
        schema:
          type: integer
          format: int64
      - name: stockCode
        in: query
        description: Stock code
        schema:
          type: string
      - name: productMainId
        in: query
        description: Main product code
        schema:
          type: string
      - name: brandIds
        in: query
        description: List of brand IDs
        schema:
          type: array
          items:
            type: integer
      - name: status
        in: query
        description: Product approval status
        schema:
          type: string
          enum:
          - rejected
          - pendingApproval
      - name: nextPageToken
        in: query
        description: Next page token when there are more than 10,000 products
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnapprovedProductsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /product/sellers/{sellerId}/products/approved:
    get:
      tags:
      - Products
      summary: Product Filtering - Approved Products (filterApprovedProducts)
      description: 'Lists approved products in your Trendyol store. Returns data in a content-based structure; each content contains a variants array. nextPageToken is used when there are more than 10,000 content items. page x size can be at most 10,000.

        '
      operationId: filterApprovedProducts
      parameters:
      - $ref: '#/components/parameters/sellerId'
      - name: barcode
        in: query
        description: Single barcode query
        schema:
          type: string
      - name: startDate
        in: query
        description: Start date (timestamp)
        schema:
          type: integer
          format: int64
      - name: endDate
        in: query
        description: End date (timestamp)
        schema:
          type: integer
          format: int64
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
      - name: dateQueryType
        in: query
        description: Date filter type
        schema:
          type: string
          enum:
          - VARIANT_CREATED_DATE
          - VARIANT_MODIFIED_DATE
          - CONTENT_MODIFIED_DATE
      - name: size
        in: query
        description: Items per page (max 100)
        schema:
          type: integer
          maximum: 100
      - name: supplierId
        in: query
        description: Supplier ID
        schema:
          type: integer
          format: int64
      - name: stockCode
        in: query
        description: Stock code
        schema:
          type: string
      - name: productMainId
        in: query
        description: Main product code
        schema:
          type: string
      - name: brandIds
        in: query
        description: List of brand IDs
        schema:
          type: array
          items:
            type: integer
      - name: status
        in: query
        description: Product status filter
        schema:
          type: string
          enum:
          - archived
          - blacklisted
          - locked
          - onSale
      - name: nextPageToken
        in: query
        description: Next page token when there are more than 10,000 content items
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovedProductsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /product/sellers/{sellerId}/products:
    delete:
      tags:
      - Products
      summary: Product Deletion (deleteProducts)
      description: 'Removes products from the Trendyol system. Supports single and bulk product deletion. Products pending approval and approved products that have been archived for more than one day and have not been suspended by Trendyol can be deleted.

        '
      operationId: deleteProducts
      parameters:
      - $ref: '#/components/parameters/sellerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteProductsRequest'
      responses:
        '200':
          description: Request has been queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchRequestResponse'
              example:
                batchRequestId: c0bd29e1-003d-455a-9d74-3a00d868ce9d-1678194595
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /product/sellers/{sellerId}/products/archive-state:
    put:
      tags:
      - Products
      summary: Product Archiving (archiveProducts)
      description: 'Archives or unarchives products in the Trendyol system. Supports single and bulk product archiving operations. The maximum number of items per request is 1,000.

        '
      operationId: archiveProducts
      parameters:
      - $ref: '#/components/parameters/sellerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveProductsRequest'
      responses:
        '200':
          description: Request has been queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchRequestResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /product/sellers/{sellerId}/products/buybox-information:
    post:
      tags:
      - Products
      summary: Product Buybox Check Service (getBuyboxInformation)
      description: 'Returns the buybox information of products: buybox rank, buybox price, and whether there are multiple sellers. A maximum of 10 barcodes can be sent. Service rate limit is 1000 req/min.

        '
      operationId: getBuyboxInformation
      parameters:
      - $ref: '#/components/parameters/sellerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuyboxRequest'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuyboxResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /product/sellers/{sellerId}/products/unlock:
    put:
      tags:
      - Products
      summary: Product Unlock Service (unlockProducts)
      description: 'Unlocks locked products. Products that have been suspended from sale due to low/high pricing, critical price errors, or inability to supply can be unlocked using this service.

        '
      operationId: unlockProducts
      parameters:
      - $ref: '#/components/parameters/sellerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnlockProductsRequest'
      responses:
        '200':
          description: Request has been queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchRequestResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    DeleteProductItem:
      type: object
      required:
      - barcode
      properties:
        barcode:
          type: string
    ArchiveProductItem:
      type: object
      required:
      - barcode
      - archived
      properties:
        barcode:
          type: string
          maxLength: 40
        archived:
          type: boolean
    UnlockProductsRequest:
      type: object
      required:
      - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/UnlockProductItem'
    VariantPrice:
      type: object
      properties:
        salePrice:
          type: number
        listPrice:
          type: number
    DeliveryOption:
      type: object
      properties:
        deliveryDuration:
          type: integer
        fastDeliveryType:
          type: string
          enum:
          - SAME_DAY_SHIPPING
          - FAST_DELIVERY
    BuyboxInfo:
      type: object
      properties:
        barcode:
          type: string
        buyboxOrder:
          type: integer
        buyboxPrice:
          type: number
        hasMultipleSeller:
          type: boolean
    CreateProductItem:
      type: object
      required:
      - barcode
      - title
      - productMainId
      - brandId
      - categoryId
      - quantity
      - stockCode
      - dimensionalWeight
      - description
      - listPrice
      - salePrice
      - images
      - vatRate
      - attributes
      properties:
        barcode:
          type: string
          maxLength: 40
        title:
          type: string
          maxLength: 100
        productMainId:
          type: string
          maxLength: 40
        brandId:
          type: integer
        categoryId:
          type: integer
        quantity:
          type: integer
        stockCode:
          type: string
          maxLength: 100
        dimensionalWeight:
          type: number
        description:
          type: string
          maxLength: 30000
        listPrice:
          type: number
        salePrice:
          type: number
        deliveryOption:
          $ref: '#/components/schemas/DeliveryOption'
        images:
          type: array
          maxItems: 8
          items:
            $ref: '#/components/schemas/ProductImage'
        vatRate:
          type: integer
        lotNumber:
          type:
          - string
          - 'null'
          maxLength: 100
        shipmentAddressId:
          type: integer
        returningAddressId:
          type: integer
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/ProductAttribute'
    VariantAttribute:
      type: object
      properties:
        attributeId:
          type: integer
        attributeName:
          type: string
        attributeValueId:
          type: integer
        attributeValue:
          type: string
    BuyboxResponse:
      type: object
      properties:
        buyboxInfo:
          type: array
          items:
            $ref: '#/components/schemas/BuyboxInfo'
    ApprovedContent:
      type: object
      properties:
        contentId:
          type: integer
        productMainId:
          type: string
        brand:
          $ref: '#/components/schemas/BrandInfo'
        category:
          $ref: '#/components/schemas/CategoryInfo'
        creationDate:
          type: integer
          format: int64
        lastModifiedDate:
          type: integer
          format: int64
        lastModifiedBy:
          type: string
        title:
          type: string
        description:
          type: string
        images:
          type: array
          items:
            $ref: '#/components/schemas/ProductImage'
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/ApprovedAttribute'
        variants:
          type: array
          items:
            $ref: '#/components/schemas/ApprovedVariant'
    VariantStock:
      type: object
      properties:
        lastModifiedDate:
          type:
          - integer
          - 'null'
          format: int64
    BatchRequestResponse:
      type: object
      properties:
        batchRequestId:
          type: string
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              message:
                type: string
              errorCode:
                type: string
    CategoryInfo:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
    CreateProductsRequest:
      type: object
      required:
      - items
      properties:
        items:
          type: array
          maxItems: 1000
          items:
            $ref: '#/components/schemas/CreateProductItem'
    RejectReasonDetail:
      type: object
      properties:
        rejectReason:
          type: string
        rejectReasonDetail:
          type: string
    BuyboxRequest:
      type: object
      required:
      - barcodes
      properties:
        barcodes:
          type: array
          maxItems: 10
          items:
            type: string
    ApprovedAttributeValue:
      type: object
      properties:
        attributeValueId:
          type:
          - integer
          - 'null'
        attributeValue:
          type: string
    ApprovedAttribute:
      type: object
      properties:
        attributeId:
          type: integer
        attributeName:
          type: string
        attributeValues:
          type: array
          items:
            $ref: '#/components/schemas/ApprovedAttributeValue'
    UnapprovedProduct:
      type: object
      properties:
        supplierId:
          type: integer
        productMainId:
          type: string
        createDateTime:
          type: integer
          format: int64
        lastUpdateDate:
          type: integer
          format: int64
        lastPriceChangeDate:
          type: integer
          format: int64
        lastStockChangeDate:
          type: integer
          format: int64
        brand:
          $ref: '#/components/schemas/BrandInfo'
        category:
          $ref: '#/components/schemas/CategoryInfo'
        barcode:
          type: string
        title:
          type: string
        description:
          type: string
        quantity:
          type: integer
        listPrice:
          type: number
        salePrice:
          type: number
        vatRate:
          type: integer
        dimensionalWeight:
          type:
          - number
          - 'null'
        stockCode:
          type: string
        media:
          type: array
          items:
            $ref: '#/components/schemas/ProductImage'
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/ProductAttribute'
        rejectReasonDetails:
          type: array
          items:
            $ref: '#/components/schemas/RejectReasonDetail'
        locationBasedDelivery:
          type:
          - string
          - 'null'
          enum:
          - ENABLED
          - DISABLED
        lotNumber:
          type:
          - string
          - 'null'
    VariantDeliveryOptions:
      type: object
      properties:
        deliveryDuration:
          type: integer
        isRushDelivery:
          type: boolean
        fastDeliveryOptions:
          type: array
          items:
            $ref: '#/components/schemas/FastDeliveryOption'
    UnlockProductItem:
      type: object
      required:
      - barcode
      properties:
        barcode:
          type: string
    BrandInfo:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
    UnapprovedProductsResponse:
      type: object
      properties:
        totalElements:
          type: integer
        totalPages:
          type: integer
        page:
          type: integer
        size:
          type: integer
        nextPageToken:
          type: string
        content:
          type: array
          items:
            $ref: '#/components/schemas/UnapprovedProduct'
    ApprovedVariant:
      type: object
      properties:
        variantId:
          type: integer
        supplierId:
          type: integer
        barcode:
          type: string
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/VariantAttribute'
        productUrl:
          type: string
        onSale:
          type: boolean
        deliveryOptions:
          $ref: '#/components/schemas/VariantDeliveryOptions'
        stock:
          $ref: '#/components/schemas/VariantStock'
        price:
          $ref: '#/components/schemas/VariantPrice'
        stockCode:
          type: string
        vatRate:
          type: integer
        sellerCreatedDate:
          type: integer
          format: int64
        sellerModifiedDate:
          type: integer
          format: int64
        locked:
          type: boolean
        lockReason:
          type:
          - string
          - 'null'
        lockDate:
          type:
          - integer
          - 'null'
          format: int64
        archived:
          type: boolean
        archivedDate:
          type:
          - integer
          - 'null'
          format: int64
        docNeeded:
          type: boolean
        hasViolation:
          type: boolean
        blacklisted:
          type: boolean
    ProductAttribute:
      type: object
      required:
      - attributeId
      properties:
        attributeId:
          type: integer
        attributeValueIds:
          type: array
          items:
            type: integer
        attributeValue:
          type: string
    DeleteProductsRequest:
      type: object
      required:
      - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/DeleteProductItem'
    ApprovedProductsResponse:
      type: object
      properties:
        totalElements:
          type: integer
        totalPages:
          type: integer
        page:
          type: integer
        size:
          type: integer
        nextPageToken:
          type: string
        content:
          type: array
          items:
            $ref: '#/components/schemas/ApprovedContent'
    ArchiveProductsRequest:
      type: object
      required:
      - items
      properties:
        items:
          type: array
          maxItems: 1000
          items:
            $ref: '#/components/schemas/ArchiveProductItem'
    FastDeliveryOption:
      type: object
      properties:
        deliveryOptionType:
          type: string
          enum:
          - SAME_DAY_SHIPPING
          - FAST_DELIVERY
        deliveryDailyCutOffHour:
          type: string
    ProductBaseResponse:
      type: object
      properties:
        barcode:
          type: string
        approved:
          type: boolean
        approvedDate:
          type: integer
          format: int64
        archived:
          type: boolean
        listingId:
          type: string
        contentId:
          type: integer
    ProductImage:
      type: object
      required:
      - url
      properties:
        url:
          type: string
  responses:
    NotFound:
      description: The request URL is invalid.
    BadRequest:
      description: Missing or invalid parameter in the URL.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: A temporary error may have occurred. Please wait a few minutes.
    Unauthorized:
      description: One of supplierID, API Key, or API Secret Key is missing or incorrect.
  parameters:
    sellerId:
      name: sellerId
      in: path
      required: true
      description: Seller ID
      schema:
        type: integer
        format: int64
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: 'Basic Authentication - Enter your API Key as the Username and API Secret Key as the Password. These credentials can be obtained from Trendyol Seller Panel > My Account > Integration Information. A User-Agent header is required for all requests (format: "SellerId - IntegratorCompanyName" or "SellerId - SelfIntegration").'
x-readme:
  proxy-enabled: false
