openapi: 3.2.0
info:
  title: Trendyol İhracat Merkezi (AutoFT) Entegrasyonu Ürün Lookup API
  description: "Trendyol Pazaryeri'nde bulunan ürünlerinizi İhracat Merkezi Entegrasyonu ile Trendyol'un yurtdışı platformlarında \nve/veya Trendyol'un anlaşmalı olduğu yurtdışı platformlarında (Global Platform) satış görmesi için Trendyol'a \nsatışını gerçekleştirebilirsiniz.\n\n## İhracat Modeli Özellikleri\n* Ürünleriniz Trendyol tarafından Türkiye sınırları içerisinde satın alınmaktadır.\n* Uygunluk çerçevesinde ürünlerinizi taşıma operasyonu Trendyol tarafından yapılmakta; ürünler deponuzdan teslim alınmaktadır.\n* Ürünlerinizi toplu ve günlük olarak paketlediğiniz beklendiği için işçilik maliyetinizin düşük olacağı tahmin edilmektedir.\n* Ürünün nihai müşterisi ürünü teslim aldıktan sonra iade ettiğinde şu an için sizlere iade yansıtılmamaktadır.\n* Satışlarınız üzerinden komisyon faturası kesilmemektedir.\n\n## Zorunlu HTTP Header Alanları\nBütün isteklerde aşağıdaki header'ların gönderilmesi zorunludur:\n* **x-clientip**: İsteğin gönderildiği IPv4 adresi\n* **x-correlationid**: UUID formatında log takip kodu\n* **x-agentname**: İsteği yapan client/entegratör adı\n* **Authorization**: Basic Token (API KEY ve API SECRET ile oluşturulur)\n"
  version: 1.0.0
  contact:
    name: Trendyol Entegrasyon Destek
    email: entegrasyon@trendyol.com
  x-source-url: https://dash.readme.com/api/v1/api-registry/139o20t8ml4xuemz
  x-documentation-url: https://developers.trendyol.com/docs/getting-started
  x-last-validated: '2026-08-10'
  x-provenance: first-party — retrieved from the provider's own documentation host
servers:
- url: https://stageapigw.trendyol.com/integration/ecgw
  description: Test Ortamı (Stage)
- url: https://apigw.trendyol.com/integration/ecgw
  description: Canlı Ortam (Production)
security:
- basicAuth: []
tags:
- name: Ürün Lookup
  description: Menşei, materyal bileşenleri, yıkama talimatları ve kategori bilgileri
paths:
  /v1/{sellerId}/lookup/origins:
    get:
      tags:
      - Ürün Lookup
      summary: Menşei Listesi
      description: '[Ürün Oluşturma V2](../reference/autoft-create-products-v2) adımında, request modelde istenen origin değerleri bu endpointten liste olarak alınır.

        '
      operationId: autoft-get-origins
      parameters:
      - $ref: '#/components/parameters/sellerId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Menşei adı
              example:
                items:
                - name: ABD
                - name: Almanya
                - name: Avusturya
                - name: Belçika
                - name: Çin
                - name: Fransa
                - name: Hindistan
                - name: İngiltere
                - name: İspanya
                - name: İtalya
                - name: Türkiye
                - name: Vietnam
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/{sellerId}/lookup/compositions:
    get:
      tags:
      - Ürün Lookup
      summary: Materyal Bileşenleri
      description: '[Ürün Oluşturma V2](../reference/autoft-create-products-v2) adımında, request modelde istenen composition değerleri bu endpointten liste olarak alınır.

        '
      operationId: autoft-get-compositions
      parameters:
      - $ref: '#/components/parameters/sellerId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Materyal bileşeni adı
              example:
                items:
                - name: Ahşap
                - name: Akrilik
                - name: Bakır
                - name: Deri
                - name: Elastan
                - name: İpek
                - name: Keten
                - name: Naylon
                - name: Pamuk
                - name: Plastik
                - name: Polyester
                - name: Viskon
                - name: Yün
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/{sellerId}/lookup/care-instructions:
    get:
      tags:
      - Ürün Lookup
      summary: Yıkama Talimatları
      description: '[Ürün Oluşturma V2](../reference/autoft-create-products-v2) adımında, request modelde istenen yıkama talimatları değerleri bu endpointten liste olarak alınır.

        '
      operationId: autoft-get-care-instructions
      parameters:
      - $ref: '#/components/parameters/sellerId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Yıkama talimatı tipi adı
                        description:
                          type: string
                          description: Yıkama talimatı açıklaması
                        value:
                          type: string
                          description: Yıkama talimatı kodu
              example:
                items:
                - name: Type 1
                  description: Maksimum 30 °C sıcaklıkta hassas yıkayınız. Ağartıcı kullanmayınız. Tamburlu kurutma yapmayınız. Düşük sıcaklıkta ütüleyiniz. Kuru temizleme yapılamaz.
                  value: T44
                - name: Type 2
                  description: Maksimum 40 °C sıcaklıkta yıkayınız. Ağartıcı kullanmayınız. Tamburlu kurutma yapılabilir. Orta sıcaklıkta ütüleyiniz.
                  value: T102
                - name: Type 3
                  description: Maksimum 60 °C sıcaklıkta yıkayınız. Oksijen bazlı ağartıcı kullanılabilir. Tamburlu kurutma yapılabilir. Yüksek sıcaklıkta ütüleyiniz.
                  value: T104
                - name: Type 4
                  description: Elde yıkayınız. Ağartıcı kullanmayınız. Tamburlu kurutma yapmayınız. Ütü yapmayınız.
                  value: T150
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/{sellerId}/lookup/product-categories/{categoryId}/attributes:
    get:
      tags:
      - Ürün Lookup
      summary: Kategoriye Göre Zorunlu Özellik Listesi
      description: '[Ürün Oluşturma V2](../reference/autoft-create-products-v2) adımında, request modelde istenen zorunlu özellik listesi bu endpointten alınır.

        '
      operationId: autoft-get-category-attributes
      parameters:
      - $ref: '#/components/parameters/sellerId'
      - name: categoryId
        in: path
        required: true
        schema:
          type: integer
        description: Kategori ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryAttributes'
              example:
                categoryId: 123
                displayName: Deri Ceket
                categoryAttributes:
                - attributeId: 200
                  attributeName: Renk
                  required: true
                  allowCustom: true
                  multipleValues: false
                  attributeValues: []
                - attributeId: 296
                  attributeName: Cinsiyet
                  required: true
                  allowCustom: false
                  multipleValues: false
                  attributeValues:
                  - id: 1234
                    name: Unisex
                  - id: 1235
                    name: Erkek
                  - id: 1236
                    name: Kadın
                - attributeId: 294
                  attributeName: Yaş Grubu
                  required: true
                  allowCustom: false
                  multipleValues: false
                  attributeValues:
                  - id: 2879
                    name: Yetişkin
                  - id: 2878
                    name: Genç
                  - id: 2877
                    name: Çocuk
                  - id: 2876
                    name: Bebek
                - attributeId: 59810
                  attributeName: Menşei
                  required: true
                  allowCustom: false
                  multipleValues: false
                  attributeValues:
                  - id: 2178083
                    name: Abd
                  - id: 2178005
                    name: Almanya
                  - id: 2178100
                    name: Türkiye
                - attributeId: 21602
                  attributeName: Yıkama Talimatı
                  required: true
                  allowCustom: false
                  multipleValues: false
                  attributeValues:
                  - id: 232837
                    name: T44
                  - id: 232838
                    name: T102
                  - id: 232839
                    name: T104
                - attributeId: 17620
                  attributeName: Materyal Bileşeni
                  required: true
                  allowCustom: true
                  multipleValues: true
                  attributeValues:
                  - id: 261340
                    name: Abaka (manila kendiri)
                  - id: 261348
                    name: Air Mesh
                  - id: 228690
                    name: Akrilik
                  - id: 228691
                    name: Pamuk
                  - id: 228692
                    name: Elastan
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/{sellerId}/lookup/product-categories/by-barcodes:
    post:
      tags:
      - Ürün Lookup
      summary: Barkod ile Kategori Bilgisi Listeleme
      description: "[Ürün Oluşturma V2](../reference/autoft-create-products-v2) adımında, zorunlu özellik listesini elde etmek için gerekli olan \ncategoryId bilgisi barkod bilgisi ile bu endpointten listelenebilir.\n"
      operationId: autoft-get-categories-by-barcodes
      parameters:
      - $ref: '#/components/parameters/sellerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - barcodes
              properties:
                barcodes:
                  type: array
                  items:
                    type: string
                  description: Barkod listesi
            example:
              barcodes:
              - barcode-1
              - barcode-2
              - barcode-3
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  barcodeCategories:
                    type: object
                    description: Barkod-kategori eşleştirmeleri
                    additionalProperties:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Kategori ID
                        displayName:
                          type: string
                          description: Kategori görünen adı
                  notFound:
                    type: array
                    items:
                      type: string
                    description: Kategorisi bulunamayan barkodlar
              example:
                barcodeCategories:
                  barcode-1:
                    id: 123
                    displayName: Etek
                  barcode-2:
                    id: 124
                    displayName: Deri Ceket
                  barcode-3:
                    id: 125
                    displayName: Kot Pantolon
                notFound:
                - barcode-4
                - barcode-5
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          description: HTTP cevap kodu (400, 401, 500 vb.)
        type:
          type: string
          description: Ana hata tipi
        traceId:
          type: string
          description: Hatanın takibi için kod
        error:
          type: object
          properties:
            code:
              type: integer
              description: 'Hatanın özel kod numarası:

                - 1001: İstek ulaşırken bir hata oluştu

                - 1002: Zorunlu alanları doldurunuz

                - 1003: Talebiniz gerçekleştirilemedi

                - 1004: Uygun olmayan parametre girildi

                - 1005: Sistemsel bir sorun meydana geldi

                - 1006: Yetkisiz erişim talebi

                - 2006: Barkod için listing bulunamadı

                - 2007: Ürün sistemde kayıtlı değil

                - 3001: Ürün sistemde kayıtlı değil

                - 3002: Ürün henüz onaylanmamış

                - 3003: Bazı alanlar eksik ya da hatalı

                - 3004: Geçersiz composition bilgisi

                - 3005: Teslimat tipi uygun değil

                - 3007: Barkod ile TY barkodu uyuşmazlığı

                - 3009: Ürün satışa uygun değildir

                '
            title:
              type: string
              description: Hatanın ana başlığı
            detail:
              type: string
              description: Hatanın açıklaması
    CategoryAttributes:
      type: object
      properties:
        categoryId:
          type: integer
          description: Kategori ID
        displayName:
          type: string
          description: Kategori görünen adı
        categoryAttributes:
          type: array
          items:
            type: object
            properties:
              attributeId:
                type: integer
                description: Özellik ID
              attributeName:
                type: string
                description: Özellik adı
              required:
                type: boolean
                description: Zorunlu mu?
              allowCustom:
                type: boolean
                description: Özel değer girilebilir mi?
              customValue:
                type: boolean
                description: Özel değer girilebilir mi? (alternatif alan)
              multipleValues:
                type: boolean
                description: Çoklu değer destekliyor mu?
              attributeValues:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: Değer ID
                    name:
                      type: string
                      description: Değer adı
  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            status: 400
            type: ValidationError
            traceId: abc123-def456-ghi789
            error:
              code: 1002
              title: Zorunlu Alan Hatası
              detail: Zorunlu alanları doldurunuz
    Unauthorized:
      description: Unauthorized - Kimlik doğrulama bilgileri eksik veya yanlış
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            status: 401
            type: AuthenticationError
            traceId: abc123-def456-ghi789
            error:
              code: 1006
              title: Yetkisiz Erişim
              detail: Yetkisiz erişim talebi
  parameters:
    sellerId:
      name: sellerId
      in: path
      required: true
      schema:
        type: integer
        format: int64
      description: Satıcı ID
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Basic Auth ile Satıcı API Key ve API Secret
