openapi: 3.2.0
info:
  title: Trendyol Order Integration API
  version: 1.0.0
  contact:
    name: Trendyol Integration Support
    email: entegrasyon@trendyol.com
  description: 'Operations tagged Order Integration across 2 of this provider''s published API definitions: openapi-domestic.yml, openapi-international.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://apigw.trendyol.com/integration
  description: Production Environment
- url: https://stageapigw.trendyol.com/integration
  description: Stage Environment
tags:
- name: Order Integration
  description: Order package management and delivery operations
paths:
  /order/sellers/{sellerId}/orders:
    get:
      tags:
      - Order Integration
      summary: Get Order Packages - getShipmentPackages
      description: You can retrieve shipment packages about every order placed by customers.
      operationId: getShipmentPackages
      parameters:
      - name: sellerId
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: Seller ID
      - name: startDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
        description: Start date (Unix timestamp in milliseconds)
      - name: endDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
        description: End date (Unix timestamp in milliseconds)
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 0
        description: Page number
      - name: size
        in: query
        required: false
        schema:
          type: integer
          default: 200
          maximum: 200
        description: Page size (maximum 200)
      - name: orderNumber
        in: query
        required: false
        schema:
          type: string
        description: Filter by order number
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - Awaiting
          - Created
          - Picking
          - Invoiced
          - Shipped
          - Cancelled
          - Delivered
          - UnDelivered
          - Returned
          - AtCollectionPoint
          - UnSupplied
        description: Filter by package status
      - name: orderByField
        in: query
        required: false
        schema:
          type: string
          enum:
          - PackageLastModifiedDate
          - CreatedDate
        description: Sort field
      - name: orderByDirection
        in: query
        required: false
        schema:
          type: string
          enum:
          - ASC
          - DESC
        description: Sort direction
      - name: shipmentPackageIds
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int64
        description: Filter by package IDs (maximum 50)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                  size:
                    type: integer
                  totalPages:
                    type: integer
                  totalElements:
                    type: integer
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/ShipmentPackage'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - basicAuth: []
    servers:
    - url: https://apigw.trendyol.com/integration
      description: Production Environment
    - url: https://stageapigw.trendyol.com/integration
      description: Stage Environment
  /order/sellers/{sellerId}/orders/stream:
    get:
      tags:
      - Order Integration
      summary: Get Shipment Packages via Stream - getShipmentPackagesStream
      description: 'You can retrieve shipment packages for orders placed by customers using cursor-based pagination.

        This method provides a more efficient and reliable way to fetch order packages compared to traditional page-number-based pagination.

        Data is returned in a fixed sort order: lastModifiedDate newest to oldest (DESC).

        '
      operationId: getShipmentPackagesStream
      parameters:
      - name: sellerId
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: Seller ID
      - name: size
        in: query
        required: false
        schema:
          type: integer
          default: 50
          maximum: 200
        description: Maximum number of packages to return per request (default 50, maximum 200)
      - name: nextCursor
        in: query
        required: false
        schema:
          type: string
        description: Opaque token used to fetch the next page. Must not be sent in the first request. Use the nextCursor value from the response as-is.
      - name: packageItemStatuses
        in: query
        required: false
        schema:
          type: string
        description: 'Filter by package item statuses. Multiple statuses can be sent separated by commas.

          Valid values: Created, Picking, Invoiced, Shipped, Cancelled, Delivered, UnDelivered, Returned, UnSupplied, AtCollectionPoint, UnPacked, Awaiting

          '
      - name: lastModifiedStartDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
        description: Fetch packages modified after this date (Unix timestamp in milliseconds)
      - name: lastModifiedEndDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
        description: Fetch packages modified before this date (Unix timestamp in milliseconds)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/ShipmentPackage'
                  size:
                    type: integer
                    description: Number of packages in the current response
                  hasMore:
                    type: boolean
                    description: Indicates whether more data is available. If true, the next page exists.
                  nextCursor:
                    type: string
                    description: Cursor value to use for fetching the next page. Empty when hasMore is false.
        '400':
          description: Bad Request - Invalid nextCursor value, invalid sellerId, cursor-filter mismatch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - basicAuth: []
    servers:
    - url: https://apigw.trendyol.com/integration
      description: Production Environment
    - url: https://stageapigw.trendyol.com/integration
      description: Stage Environment
  /order/sellers/{sellerId}/shipment-packages/{packageId}:
    put:
      tags:
      - Order Integration
      summary: Notify Packages - updatePackage
      description: You can update the package of the order with "Picking" or "Invoiced" status.
      operationId: updatePackageStatus
      parameters:
      - name: sellerId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: packageId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - status
              properties:
                status:
                  type: string
                  enum:
                  - Picking
                  - Invoiced
                  description: New package status
                lines:
                  type: array
                  description: Order line pairs for package updates
                  items:
                    type: object
                    properties:
                      lineId:
                        type: integer
                        format: int64
                      quantity:
                        type: integer
                params:
                  type: object
                  description: Additional parameters as key-value pairs. Can include invoiceNumber but should be given only for Invoiced status.
                  additionalProperties:
                    type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
      security:
      - basicAuth: []
    servers:
    - url: https://apigw.trendyol.com/integration
      description: Production Environment
    - url: https://stageapigw.trendyol.com/integration
      description: Stage Environment
  /order/sellers/{sellerId}/shipment-packages/{packageId}/items/unsupplied:
    put:
      tags:
      - Order Integration
      summary: Cancel Order Package Item - updatePackage
      description: You can use this method to cancel one or more item in Order Package.
      operationId: cancelOrderPackageItem
      parameters:
      - name: sellerId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: packageId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - lines
              - reasonId
              properties:
                lines:
                  type: array
                  items:
                    type: object
                    required:
                    - lineId
                    - quantity
                    properties:
                      lineId:
                        type: integer
                        format: int64
                        description: Order line ID to cancel
                      quantity:
                        type: integer
                        description: Quantity to cancel
                reasonId:
                  type: integer
                  description: Cancellation reason ID
                  enum:
                  - 500
                  - 501
                  - 502
                  - 504
                  - 505
                  - 506
            example:
              lines:
              - lineId: 123456
                quantity: 1
              reasonId: 500
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
      - basicAuth: []
    servers:
    - url: https://apigw.trendyol.com/integration
      description: Production Environment
    - url: https://stageapigw.trendyol.com/integration
      description: Stage Environment
  /order/sellers/{sellerId}/shipment-packages/{packageId}/box-info:
    put:
      tags:
      - Order Integration
      summary: Notify Deci and Box Quantity - updateBoxInfo
      description: With this service, you can feed deci and box quantity for your order packages of UPS Cargo and CEVA Logistics companies.
      operationId: updateBoxInfo
      parameters:
      - name: sellerId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: packageId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deci:
                  type: number
                  format: double
                  description: Deci value
                boxQuantity:
                  type: integer
                  description: Box Quantity
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
      - basicAuth: []
    servers:
    - url: https://apigw.trendyol.com/integration
      description: Production Environment
    - url: https://stageapigw.trendyol.com/integration
      description: Stage Environment
  /order/sellers/{sellerId}/shipment-packages/{packageId}/delivered-by-service:
    put:
      tags:
      - Order Integration
      summary: Delivery By Service - deliveredByService
      description: Our sellers who ship their products to the authorized service should call this service.
      operationId: deliveredByService
      parameters:
      - name: sellerId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: packageId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
      - basicAuth: []
    servers:
    - url: https://apigw.trendyol.com/integration
      description: Production Environment
    - url: https://stageapigw.trendyol.com/integration
      description: Stage Environment
  /order/sellers/{sellerId}/shipment-packages/{packageId}/cargo-providers:
    put:
      tags:
      - Order Integration
      summary: Change Cargo Provider - changeCargoProvider
      description: This service is used to change the cargo provides of packages.
      operationId: changeCargoProvider
      parameters:
      - name: sellerId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: packageId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - cargoProvider
              properties:
                cargoProvider:
                  type: string
                  description: Cargo provider code
                  enum:
                  - YKMP
                  - ARASMP
                  - SURATMP
                  - HOROZMP
                  - DHLECOMMP
                  - PTTMP
                  - CEVAMP
                  - TEXMP
                  - UPSMP
                  - KOLAYGELSINMP
                  - CEVATEDARIK
            example:
              cargoProvider: ARASMP
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
      - basicAuth: []
    servers:
    - url: https://apigw.trendyol.com/integration
      description: Production Environment
    - url: https://stageapigw.trendyol.com/integration
      description: Stage Environment
  /order/sellers/{sellerId}/shipment-packages/{packageId}/warehouse:
    put:
      tags:
      - Order Integration
      summary: Update Warehouse Information - updateWarehouse
      description: With this service, the "WarehouseId" field returned from the Picking Order Packages service will be updated.
      operationId: updateWarehouse
      parameters:
      - name: sellerId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: packageId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - warehouseId
              properties:
                warehouseId:
                  type: integer
                  description: Warehouse ID
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request (package status not suitable for update - must be Created, Invoiced, or Picking)
        '401':
          description: Unauthorized
      security:
      - basicAuth: []
    servers:
    - url: https://apigw.trendyol.com/integration
      description: Production Environment
    - url: https://stageapigw.trendyol.com/integration
      description: Stage Environment
  /order/sellers/{sellerId}/shipment-packages/{packageId}/extended-agreed-delivery-date:
    put:
      tags:
      - Order Integration
      summary: Additional Supply Time Definition - agreedDeliveryDate
      description: Sellers can define additional supply times for order packages.
      operationId: extendAgreedDeliveryDate
      parameters:
      - name: sellerId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: packageId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - extendedDayCount
              properties:
                extendedDayCount:
                  type: integer
                  enum:
                  - 1
                  - 2
                  - 3
                  description: Number of days to extend (can be 1, 2, or 3)
            example:
              extendedDayCount: 1
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
      - basicAuth: []
    servers:
    - url: https://apigw.trendyol.com/integration
      description: Production Environment
    - url: https://stageapigw.trendyol.com/integration
      description: Stage Environment
  /order/sellers/{sellerId}/shipment-packages/{packageId}/labor-costs:
    put:
      tags:
      - Order Integration
      summary: Update Labor Cost - laborCosts
      description: You can use this service to feed the labor cost amount.
      operationId: updateLaborCosts
      parameters:
      - name: sellerId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: packageId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required:
                - orderLineId
                - laborCostPerItem
                properties:
                  orderLineId:
                    type: integer
                    format: int64
                  laborCostPerItem:
                    type: number
                    format: double
                    description: Labor cost per single item
            example:
            - orderLineId: 3653527482
              laborCostPerItem: 32.12
            - orderLineId: 3653527483
              laborCostPerItem: 78.65
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
      - basicAuth: []
    servers:
    - url: https://apigw.trendyol.com/integration
      description: Production Environment
    - url: https://stageapigw.trendyol.com/integration
      description: Stage Environment
  /order/sellers/{sellerId}/shipment-packages/{packageId}/tracking-details:
    put:
      tags:
      - Order Integration
      summary: Update Tracking Number
      description: 'This method should be used to notify Trendyol of the package tracking number.


        **For Normal Order Packages:**

        - Package status should be Picking before using this service

        - Use appropriate storeFrontCode for the region


        **For Rejected Return Packages (EUROPE & GULF):**

        - Use this same endpoint to update tracking numbers for rejected return packages

        - The packageId refers to the rejected return package ID

        - If tracking code already exists, you will receive error "Shipment tracking number cannot be updated"


        **Required:**

        - storeFrontCode as Header Parameter (to differentiate regions)

        - cargoSenderNumber and providerCode in request body

        - returnTrackingNumber is optional (for Germany only)

        '
      operationId: updateTrackingNumber
      parameters:
      - name: sellerId
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: Seller ID
      - name: packageId
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: Package ID
      - name: storeFrontCode
        in: header
        required: true
        schema:
          type: string
        description: Store front code
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - cargoSenderNumber
              - providerCode
              properties:
                cargoSenderNumber:
                  type: string
                  description: Cargo tracking number
                  example: '123'
                providerCode:
                  type: string
                  description: Cargo provider code
                  example: DHLMP
                returnTrackingNumber:
                  type: string
                  description: Return tracking number (optional, for Germany)
                  example: '137456971563'
      responses:
        '200':
          description: Tracking number updated successfully
        '400':
          description: Client error
        '500':
          description: Internal server error
      security:
      - BasicAuth: []
    servers:
    - url: https://apigw.trendyol.com/integration
      description: Production Environment
    - url: https://stageapigw.trendyol.com/integration
      description: Stage Environment
components:
  schemas:
    Address:
      type: object
      properties:
        id:
          type: integer
          format: int64
        firstName:
          type: string
        lastName:
          type: string
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        cityCode:
          type: integer
        district:
          type: string
        districtId:
          type: integer
        postalCode:
          type: string
        countryCode:
          type: string
        neighborhoodId:
          type: integer
        neighborhood:
          type: string
        fullName:
          type: string
        fullAddress:
          type: string
    OrderLine:
      type: object
      properties:
        id:
          type: integer
          format: int64
        productSize:
          type: string
        productColor:
          type: string
        merchantSku:
          type: string
        productName:
          type: string
        productCode:
          type: integer
          format: int64
        merchantId:
          type: integer
          format: int64
        amount:
          type: number
          format: double
        discount:
          type: number
          format: double
        tyDiscount:
          type: number
          format: double
        currencyCode:
          type: string
        productCategory:
          type: string
        shipmentType:
          type: string
        gift:
          type: boolean
        fastDelivery:
          type: boolean
        fastDeliveryType:
          type: string
        sku:
          type: string
        vatBaseAmount:
          type: number
          format: double
        barcode:
          type: string
        orderLineItemStatusName:
          type: string
        price:
          type: number
          format: double
        quantity:
          type: integer
        fastDeliveryOptions:
          type: array
          items:
            type: string
        salesCampaignId:
          type: integer
          format: int64
        productSellerCode:
          type: string
        deliveryFeeType:
          type: string
        laborCostPerItem:
          type: number
          format: double
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    ShipmentPackage:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Package ID
        shipmentNumber:
          type: string
          description: Shipment number
        orderNumber:
          type: string
          description: Order number
        grossAmount:
          type: number
          format: double
          description: Gross amount
        totalDiscount:
          type: number
          format: double
          description: Total discount
        totalTyDiscount:
          type: number
          format: double
          description: Total Trendyol discount
        taxNumber:
          type: string
          description: Tax number
        invoiceAddress:
          $ref: '#/components/schemas/Address'
        customerFirstName:
          type: string
        customerLastName:
          type: string
        customerEmail:
          type: string
        customerId:
          type: integer
          format: int64
        customerTckn:
          type: string
          description: Customer TCKN
        shipmentAddress:
          $ref: '#/components/schemas/Address'
        shipmentPackageStatus:
          type: string
        status:
          type: string
          enum:
          - Created
          - Picking
          - Invoiced
          - Shipped
          - Cancelled
          - Delivered
          - UnDelivered
          - Returned
        deliveryType:
          type: string
        timeSlotId:
          type: integer
          format: int64
        estimatedDeliveryStartDate:
          type: integer
          format: int64
        estimatedDeliveryEndDate:
          type: integer
          format: int64
        totalPrice:
          type: number
          format: double
        agreedDeliveryDate:
          type: integer
          format: int64
        agreedDeliveryDateExtendible:
          type: boolean
        agreedDeliveryExtensionStartDate:
          type: integer
          format: int64
        agreedDeliveryExtensionEndDate:
          type: integer
          format: int64
        extendedAgreedDeliveryDate:
          type: integer
          format: int64
        deci:
          type: number
          format: double
        cargoTrackingNumber:
          type: string
        cargoTrackingLink:
          type: string
        cargoSenderNumber:
          type: string
        cargoProviderName:
          type: string
        cargoProviderId:
          type: integer
          format: int64
        lines:
          type: array
          items:
            $ref: '#/components/schemas/OrderLine'
        packageHistory:
          type: array
          items:
            type: object
            properties:
              createdDate:
                type: integer
                format: int64
              status:
                type: string
        warehouseId:
          type: integer
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Seller API Key and API Secret with Basic Auth
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Bearer token authentication
    BasicAuth:
      type: http
      scheme: basic
      description: Use your Trendyol API credentials
x-refined-from:
- openapi-domestic.yml
- openapi-international.yml
