openapi: 3.2.0
info:
  title: Trendyol Marketplace Supplier Information Integration API
  description: Trendyol Supplier Address Information Integration API
  version: 1.0.0
  contact:
    name: Trendyol Integration Support
    email: entegrasyon@trendyol.com
  x-source-url: https://dash.readme.com/api/v1/api-registry/118qimxcml9d7nyv
  x-documentation-url: https://developers.trendyol.com/docs/getting-started
  x-last-validated: '2026-08-10'
  x-provenance: first-party — retrieved from the provider's own documentation host
servers:
- url: https://apigw.trendyol.com/integration
  description: Production Environment (PROD)
- url: https://stageapigw.trendyol.com/integration
  description: Test Environment (STAGE)
security:
- basicAuth: []
tags:
- name: Supplier Information Integration
  description: Supplier address information and cargo company information
paths:
  /sellers/{sellerId}/addresses:
    get:
      tags:
      - Supplier Information Integration
      summary: Return, Shipment and Invoice Address Information - getSuppliersAddresses
      description: "Return, shipment and invoice address information and cargo company information to be sent in requests \nto the createProduct V2 service will be obtained using this service, along with their corresponding ID values.\n\n**IMPORTANT:** If your \"SELLER APPLICATION PROCESS\" is not fully completed, you should not use this service.\n"
      operationId: getSuppliersAddresses
      parameters:
      - name: sellerId
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: Seller ID
      - name: storeFrontCode
        in: header
        required: false
        schema:
          type: string
          default: TR
        description: Country code where the seller operates. If not provided, defaults to "TR". Returns address information for the specified country/region.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  supplierAddresses:
                    type: array
                    description: Supplier address list
                    items:
                      $ref: '#/components/schemas/SupplierAddress'
                  defaultShipmentAddress:
                    $ref: '#/components/schemas/SupplierAddress'
                  defaultInvoiceAddress:
                    $ref: '#/components/schemas/SupplierAddress'
                  defaultReturningAddress:
                    type: object
                    properties:
                      present:
                        type: boolean
                        description: Indicates whether a default return address is available
              example:
                supplierAddresses:
                - id: 1
                  addressType: Shipment
                  country: Country-0
                  city: Kocaeli
                  cityCode: 0
                  district: Gebze
                  districtId: 0
                  postCode: post-code-0
                  address: Address-0
                  isReturningAddress: false
                  fullAddress: Address-0 Gebze post-code-0 Kocaeli Country-0
                  isShipmentAddress: true
                  isInvoiceAddress: false
                  isDefault: true
                - id: 2
                  addressType: Invoice
                  country: Country-2
                  city: Ankara
                  cityCode: 0
                  district: Mamak
                  districtId: 0
                  postCode: post-code-2
                  address: Address-2
                  isReturningAddress: false
                  fullAddress: Address-2 Mamak post-code-2 Ankara Country-2
                  isShipmentAddress: false
                  isInvoiceAddress: true
                  isDefault: true
                - id: 3
                  addressType: Returning
                  country: Country-3
                  city: Bursa
                  cityCode: 0
                  district: Teleferik
                  districtId: 0
                  postCode: post-code-3
                  address: Address-3
                  isReturningAddress: true
                  fullAddress: Address-3 Teleferik post-code-3 Bursa Country-3
                  isShipmentAddress: false
                  isInvoiceAddress: false
                  isDefault: true
                - id: 4
                  addressType: Returning
                  country: Country-4
                  city: İzmir
                  cityCode: 0
                  district: Bornova
                  districtId: 0
                  postCode: post-code-4
                  address: Address-4
                  isReturningAddress: true
                  fullAddress: Address-4 Bornova post-code-4 İzmir Country-4
                  isShipmentAddress: false
                  isInvoiceAddress: false
                  isDefault: false
                defaultShipmentAddress:
                  id: 0
                  addressType: Shipment
                  country: Country-0
                  city: Kocaeli
                  cityCode: 0
                  district: Gebze
                  districtId: 0
                  postCode: post-code-0
                  address: Address-0
                  isReturningAddress: false
                  fullAddress: Address-0 Gebze post-code-0 Kocaeli Country-0
                  isShipmentAddress: true
                  isInvoiceAddress: false
                  isDefault: true
                defaultInvoiceAddress:
                  id: 2
                  addressType: Invoice
                  country: Country-2
                  city: Ankara
                  cityCode: 0
                  district: Mamak
                  districtId: 0
                  postCode: post-code-2
                  address: Address-2
                  isReturningAddress: false
                  fullAddress: Address-2 Mamak post-code-2 Ankara Country-2
                  isShipmentAddress: false
                  isInvoiceAddress: true
                  isDefault: true
                defaultReturningAddress:
                  present: true
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - Token is invalid or SELLER_BASE role not found in token permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Domain Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    SupplierAddress:
      type: object
      description: Supplier address information
      properties:
        id:
          type: integer
          format: int64
          description: Address ID
        addressType:
          type: string
          enum:
          - Shipment
          - Invoice
          - Returning
          description: Address type (Shipment, Invoice or Return)
        country:
          type: string
          description: Country
        city:
          type: string
          description: City
        cityCode:
          type: integer
          description: City code
        district:
          type: string
          description: District
        districtId:
          type: integer
          description: District ID
        postCode:
          type: string
          description: Postal code
        address:
          type: string
          description: Address
        isReturningAddress:
          type: boolean
          description: Is this a return address?
        fullAddress:
          type: string
          description: Full address
        isShipmentAddress:
          type: boolean
          description: Is this a shipment address?
        isInvoiceAddress:
          type: boolean
          description: Is this an invoice address?
        isDefault:
          type: boolean
          description: Is this the default address?
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Error message
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: 'Authentication is performed using Basic Auth with Seller API Key and API Secret.


        **Authorization:**

        - Token must be valid

        - **SELLER_BASE** role must be present in token permissions

        - If the token is valid but SELLER_BASE role is missing, a 401 Unauthorized error will be returned

        '
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Bearer token authentication
